USE [Деканат]
GO
/****** Object:  Table [dbo].[ФормаОбучения]    Script Date: 23.02.2026 20:36:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ФормаОбучения]') AND type in (N'U'))
DROP TABLE [dbo].[ФормаОбучения]
GO
/****** Object:  Table [dbo].[Факультеты]    Script Date: 23.02.2026 20:36:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Факультеты]') AND type in (N'U'))
DROP TABLE [dbo].[Факультеты]
GO
/****** Object:  Table [dbo].[Уровень_образования]    Script Date: 23.02.2026 20:36:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Уровень_образования]') AND type in (N'U'))
DROP TABLE [dbo].[Уровень_образования]
GO
/****** Object:  Table [dbo].[Специальности]    Script Date: 23.02.2026 20:36:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Специальности]') AND type in (N'U'))
DROP TABLE [dbo].[Специальности]
GO
/****** Object:  Table [dbo].[Все_Группы]    Script Date: 23.02.2026 20:36:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Все_Группы]') AND type in (N'U'))
DROP TABLE [dbo].[Все_Группы]
GO
/****** Object:  Table [dbo].[Все_Группы]    Script Date: 23.02.2026 20:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Все_Группы](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
	[Учебный_План] [nvarchar](255) NULL,
	[Код_Специальности] [int] NULL,
	[Курс] [int] NULL,
	[Код_Факультета] [int] NULL,
	[УчебныйГод] [nvarchar](50) NULL,
	[Направление] [nvarchar](300) NULL,
	[Специальность] [nvarchar](300) NULL,
	[Специализации] [nvarchar](300) NULL,
	[Код_Подразделения] [int] NULL,
	[Удалена] [bit] NULL,
	[СрокОбучения] [nvarchar](50) NULL,
	[Уровень] [int] NULL,
	[Форма_Обучения] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Специальности]    Script Date: 23.02.2026 20:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Специальности](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Специальность] [nvarchar](50) NULL,
	[ОКСО] [nvarchar](50) NULL,
	[Название] [nvarchar](1000) NULL,
	[Прием] [bit] NULL,
	[Код_Факультета] [int] NULL,
	[Код_Кафедры] [int] NULL,
	[Квалификация] [nvarchar](150) NULL,
	[Название_Спец] [nvarchar](1000) NULL,
	[Срок_Обучения] [nvarchar](50) NULL,
	[Шифр] [nvarchar](50) NULL,
	[ОО] [int] NULL,
	[ЦН] [int] NULL,
	[СН] [int] NULL,
	[Всего] [int] NULL,
	[Цена7к] [decimal](18, 0) NULL,
	[КодФормыОбучения] [int] NULL,
	[Префикс] [nvarchar](50) NULL,
	[Профиль] [bit] NOT NULL,
	[КодРодителя] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Уровень_образования]    Script Date: 23.02.2026 20:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Уровень_образования](
	[Код_записи] [int] NOT NULL,
	[Уровень] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Факультеты]    Script Date: 23.02.2026 20:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Факультеты](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Факультет] [nvarchar](250) NULL,
	[Сокращение] [nvarchar](20) NULL,
	[Псевдоним] [nvarchar](20) NULL,
	[Тип_Обучения] [int] NULL,
	[ПК] [bit] NULL,
	[Декан] [nvarchar](110) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ФормаОбучения]    Script Date: 23.02.2026 20:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ФормаОбучения](
	[Код] [int] NOT NULL,
	[ФормаОбучения] [nvarchar](50) NULL,
	[Сокращение] [nvarchar](50) NULL,
	[Вывод] [bit] NULL,
	[Префикс] [nvarchar](10) NULL,
	[ТекстДляПриказа] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Все_Группы] ON 

INSERT [dbo].[Все_Группы] ([Код], [Название], [Учебный_План], [Код_Специальности], [Курс], [Код_Факультета], [УчебныйГод], [Направление], [Специальность], [Специализации], [Код_Подразделения], [Удалена], [СрокОбучения], [Уровень], [Форма_Обучения]) VALUES (1, N'ФИ-01', N'План_09.03.01_1', 1, 1, 1, N'2023-2024', N'Информатика', N'Информатика и вычислительная техника', N'Программист', 1, 0, N'4 года', 1, 1)
INSERT [dbo].[Все_Группы] ([Код], [Название], [Учебный_План], [Код_Специальности], [Курс], [Код_Факультета], [УчебныйГод], [Направление], [Специальность], [Специализации], [Код_Подразделения], [Удалена], [СрокОбучения], [Уровень], [Форма_Обучения]) VALUES (2, N'ФИ-02', N'План_09.03.04_2', 2, 2, 1, N'2024-2025', N'Программная инженерия', N'Программная инженерия', N'Разработчик', 1, 0, N'4 года', 1, 1)
INSERT [dbo].[Все_Группы] ([Код], [Название], [Учебный_План], [Код_Специальности], [Курс], [Код_Факультета], [УчебныйГод], [Направление], [Специальность], [Специализации], [Код_Подразделения], [Удалена], [СрокОбучения], [Уровень], [Форма_Обучения]) VALUES (3, N'ФЭ-03', N'План_38.03.01_3', 3, 3, 2, N'2025-2026', N'Экономика', N'Экономика', N'Экономист', 2, 0, N'4 года', 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Все_Группы] OFF
GO
SET IDENTITY_INSERT [dbo].[Специальности] ON 

INSERT [dbo].[Специальности] ([Код], [Специальность], [ОКСО], [Название], [Прием], [Код_Факультета], [Код_Кафедры], [Квалификация], [Название_Спец], [Срок_Обучения], [Шифр], [ОО], [ЦН], [СН], [Всего], [Цена7к], [КодФормыОбучения], [Префикс], [Профиль], [КодРодителя]) VALUES (1, N'Информатика и вычислительная техника', N'09.03.01', N'Информатика', 1, 1, NULL, N'Бакалавр', N'Программист', N'4 года', N'09.03.01', NULL, NULL, NULL, NULL, CAST(120000 AS Decimal(18, 0)), 1, NULL, 0, NULL)
INSERT [dbo].[Специальности] ([Код], [Специальность], [ОКСО], [Название], [Прием], [Код_Факультета], [Код_Кафедры], [Квалификация], [Название_Спец], [Срок_Обучения], [Шифр], [ОО], [ЦН], [СН], [Всего], [Цена7к], [КодФормыОбучения], [Префикс], [Профиль], [КодРодителя]) VALUES (2, N'Программная инженерия', N'09.03.04', N'Программная инженерия', 1, 1, NULL, N'Бакалавр', N'Разработчик', N'4 года', N'09.03.04', NULL, NULL, NULL, NULL, CAST(130000 AS Decimal(18, 0)), 1, NULL, 0, NULL)
INSERT [dbo].[Специальности] ([Код], [Специальность], [ОКСО], [Название], [Прием], [Код_Факультета], [Код_Кафедры], [Квалификация], [Название_Спец], [Срок_Обучения], [Шифр], [ОО], [ЦН], [СН], [Всего], [Цена7к], [КодФормыОбучения], [Префикс], [Профиль], [КодРодителя]) VALUES (3, N'Экономика', N'38.03.01', N'Экономика', 1, 2, NULL, N'Бакалавр', N'Экономист', N'4 года', N'38.03.01', NULL, NULL, NULL, NULL, CAST(100000 AS Decimal(18, 0)), 2, N'z', 0, NULL)
SET IDENTITY_INSERT [dbo].[Специальности] OFF
GO
INSERT [dbo].[Уровень_образования] ([Код_записи], [Уровень]) VALUES (1, N'ВО-Специалисты')
INSERT [dbo].[Уровень_образования] ([Код_записи], [Уровень]) VALUES (2, N'ВО-Бакалавры')
INSERT [dbo].[Уровень_образования] ([Код_записи], [Уровень]) VALUES (3, N'ВО-Магистры')
GO
SET IDENTITY_INSERT [dbo].[Факультеты] ON 

INSERT [dbo].[Факультеты] ([Код], [Факультет], [Сокращение], [Псевдоним], [Тип_Обучения], [ПК], [Декан]) VALUES (1, N'Факультет информатики', N'ФИ', N'INF', 1, 1, N'Иванов И.И.')
INSERT [dbo].[Факультеты] ([Код], [Факультет], [Сокращение], [Псевдоним], [Тип_Обучения], [ПК], [Декан]) VALUES (2, N'Факультет экономики', N'ФЭ', N'ECO', 1, 0, N'Петров П.П.')
INSERT [dbo].[Факультеты] ([Код], [Факультет], [Сокращение], [Псевдоним], [Тип_Обучения], [ПК], [Декан]) VALUES (3, N'Факультет медицины', N'ФМ', N'MED', 1, 1, N'Сидорова С.С.')
SET IDENTITY_INSERT [dbo].[Факультеты] OFF
GO
INSERT [dbo].[ФормаОбучения] ([Код], [ФормаОбучения], [Сокращение], [Вывод], [Префикс], [ТекстДляПриказа]) VALUES (1, N'Очная форма', N'ОФ', 1, NULL, N'Очная форма')
INSERT [dbo].[ФормаОбучения] ([Код], [ФормаОбучения], [Сокращение], [Вывод], [Префикс], [ТекстДляПриказа]) VALUES (2, N'Заочная форма', N'ЗФ', 1, N'z', N'Заочная форма')
INSERT [dbo].[ФормаОбучения] ([Код], [ФормаОбучения], [Сокращение], [Вывод], [Префикс], [ТекстДляПриказа]) VALUES (3, N'Очно-заочная форма', N'ОЗО', 1, N'v', N'Очно-заочная форма')
GO
